:root {
	scroll-behavior: smooth;
	--primary: #22577a;
	--secondary: #38a3a5;
	--bgColor1: #57cc99;
	--bgColor2: #80ed99;
	--bgColor3: #c7f9cc;
}
*{
	box-sizing: border-box;
}
.nav-menu li:hover {
	color: var(--secondary);
}
hr {
	background: var(--primary);
	height: 3px;
	border: none;
}

body {
	height: 100vh;
}

.app {
	height: 100vh;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
